In [3]:
From = int(input("From: "))
To = int(input("To: "))

From: 5
To: 1000

find the sum of the cube of each digit

In [4]:
print("Armstrong numbers within {0} and {1} are :".format(From,To))
for num in range(From,To + 1):
   sum = 0  
   temp = num  
   while temp > 0:  
       digit = temp % 10  
       sum += digit ** 3  
       temp //= 10  
       if num == sum:  
            print(num)

Armstrong numbers within 5 and 1000 are :
64
125
153
216
370
371
407
729