take input from the user

In [17]:
From = int(input("From: "))  
To = int(input("To: "))

From: 10
To: 600

find the sum of the cube of each digit

In [18]:
print("Armstrong numbers within {0} and {1} are :".format(From,To))
for num in range(From,To + 1):
   sum = 0  
   temp = num  
   while temp > 0:  
       digit = temp % 10  
       sum += digit ** 3  
       temp //= 10  
       if num == sum:  
            print(num)

Armstrong numbers within 10 and 600 are :
64
125
153
216
370
371
407